.note-input,
.note-datepicker,
.note-button {
	outline: none;
	border: none;
}

.note-form {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline-style: none;
}

.note-input {
	width: 260px;
	background-color: #e3f6f0;
	padding: 15px 30px 15px 16px;
	border-radius: 8px;
	border-style: ridge;
	font-size: 15px;
	margin-left: 65px;
}

.note-datepicker {
	width: 150px;
	border-radius: 8px;
	background-color: #b6e5d7;
	border-style: ridge;
	font-size: 15px;
	padding: 15px 15px 15px 8px;
	margin-left: 5px;
	margin-right: 10px;
}

.note-button {
	padding: 15px;
	border-radius: 15px;
	cursor: pointer;
	font-size: 19px;
	color: whitesmoke;
	background-color: #1b9ea0;
	margin-right: 63px;
}

@media screen and (max-width: 600px) {
	.note-form {
		flex-wrap: wrap;
		align-items: center;
	}

	.note-input {
		width: 80%;
	}
	.note-datepicker {
		margin-left: 26px;
		width: 80%;
	}
	.note-form {
		flex-direction: column;
		align-items: center;
	}
}
